#Thu Sep 18 13:54:23 GMT 2025
#Backslashes in file paths should be escaped (\\)
com.lightrun.DynamicLog.handlers=java.util.logging.FileHandler, java.util.logging.ConsoleHandler
com.lightrun.DynamicLog.useParentHandlers=0
com.lightrun.server=https://app.lightrun.com
pinned_certs=ee80811b38e7e6c2dc4cc372cbea86bd86b446b012e427f2e19bf094afba5d12
default_certificate_pinning_enabled=true
com.lightrun.DynamicLog.ConsoleHandler.pattern=none
com.lightrun.DynamicLog.ConsoleHandler.formatter=none
com.lightrun.DynamicLog.FileHandler.formatter=none
agent.regmetadata.file=agent.metadata.json
com.lightrun.DynamicLog.FileHandler.pattern=/tmp/lightrun_file_handler_logs%u.log
com.lightrun.secret=61168de8-37da-4ba6-9008-e8258a11f167
